<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  <body>
  	<div class="container">
  	<% include partials/page/header.ejs %>

  	<form role="form" method="">
  		<div class= "form-group">
  			<label for="city">City Name</label></br >
  			<input name="city" type="text" required></br >
  		</div>

  		<div class= "form-group">
  			<label for="des">Description</label></br>
  			<input name = "des" type ="text" required>
  		</div>
  		<button id="submit" type="button" class="btn btn-default">Submit</button>
  		<button id="add3" type="button" class="btn btn-default">Add Default Three</button>
  	</form>

  	<table class="table table-hover">
  		<thead>
  			<tr>
  				<th>City</th>
  				<th>Description</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% for (var i=0;i<cities.length;i++) {%>
	  			 <tr>
	  			 	<td><%= cities[i].name %></td> 
	  			 	<td><%= cities[i].des %></td>
	  			 	<td><span <%='data-name='+encodeURIComponent(cities[i].name) %> class="glyphicon glyphicon-remove"></span></td>
	  			 </tr>
  			<%  } %>
  		</tbody>
  	</table>
	<% include partials/page/footer.ejs %>
	
	</div>
	<% include partials/page/jsdefault.ejs %>
  </body>
</html>

<script>
	
	$(document).ready(function(){
		addRemoveListener($(".glyphicon-remove"));
		setSubmitListener();

	});
	// $("#add3").click(function(event){

	// 	$.ajax({
	// 		type:'POST', url:'/cities', data:{"name": name, "des": des}
	// 	}).done(function(){
	// 		$("tbody").append('<tr><td>'+name+'</td><td>'+des+'</td><td><span data-name='+ encodeURIComponent(name) +' class="glyphicon glyphicon-remove"></span></td></tr>');
			
	// 	})
	// });
	var setSubmitListener = function(){
		$("#submit").click(function(event){
			var city = $("input[name='city']").val();
			var des = $("input[name='des']").val();

			if(city.trim().length===0){

			}

			if(des.trim().length===0){

			}

			if(city.trim().length!==0 && des.trim().length!==0){
				$.ajax({
					type:'POST', url:'/cities', data:{"city": city, "des": des}
				}).done(function(){
					$("tbody").append('<tr><td>'+city+'</td><td>'+des+'</td><td><span data-name='+ encodeURIComponent(city) +' class="glyphicon glyphicon-remove"></span></td></tr>');
					$("input[name='city']").val("");
					$("input[name='des']").val("");
					addRemoveListener($('span:last'));
				
					});
			}

		});
		

	};
	
	var addRemoveListener = function(selector){
		selector.click(function(event){
			if(!confirm('Are you sure ?')){
				return false;
			}
			var target = $(event.currentTarget);
			console.log(target.data('name'));
			$.ajax({
				type: 'DELETE', url:'/cities/' + target.data('name')
			}).done(function(){
				target.parents('tr').remove()
			})
		
		});

	}
	


</script>
		

