<!DOCTYPE html>
<html lang="en">
  <head><% include partials/page/head.ejs %></head>
  </head>
  <body>
  	<div class="container">
  	<% include partials/page/header.ejs %>

	    <p>This page does not exist!</p>

	
	<% include partials/page/footer.ejs %>
	<% include partials/page/jsdefault.ejs %>
	</div>

  </body>
</html>