<footer>
<p>&copy; <%= global.curyear %> YuxuanLi. All rights reserved.</p>
<!-- <div class="col-sm-3">
	<p>PoweredBy</p>
	<a href="https://nodejs.org/en/"><img src="images/logos/nodejs.png" width="100px" height="50px"></a>
</div>
 --></footer>